* {
   margin: 0;
   padding: 0;
}

#login {
   background-image: url('../../assets/soccer-488700.jpg');
   height: 93vh;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 70px;
   height: 65%;
   width: 25%;
   background-color: rgb(0, 0, 0, 80%);
   color: #fff;
   text-align: center;
   box-sizing: border-box;
   min-height: 400px;
   min-width: 300px;
}

.login-fieldset {
   border: none;
   margin-top: 20px;
   font-size: 30px;
}

.login-fieldset input {
   width: 100%;
   border: 1px solid #d5dbd9;
   border-radius: 3px;
   outline: none;
}

.login-fieldset input:focus {
   border: 2px solid forestgreen;
}

.login-input {
   display: block;
   margin-top: 20px;
   margin-bottom: 40px;
   height: 25px;
}

.login-account p {
   font-size: 15px;
}

.button {
   width: 150px;
   background-color: forestgreen;
   color: white;
   padding: 10px 15px;
}

.button:hover {
   background-color: white;
   color: black;
}

.button strong {
   text-align: center;
   font-size: 20px;
}

.link {
   text-decoration: none;
   font-size: 15px;
   color: forestgreen;
}

@media only screen and (max-width: 1650px) {
   .login-form {
      width: 30%;
   }

   .login-fieldset {
      font-size: 20px;
   }

   .button {
      width: 120px;
   }

   .button strong {
      font-size: 15px;
   }

   .login-account p {
      font-size: 12px;
   }
}

@media only screen and (max-width: 950px) {
   .login-form {
      padding: 30px;
      height: 50%;
      width: 35%;
   }
}

@media only screen and (max-width: 650px) {
   .login-form {
      padding: 20px;
      height: 50%;
      width: 45%;
   }
}