<div id="login">
    <form class="login-form">
        <fieldset class="login-fieldset">
            <label for="username">Nazwa Użytkownika</label>
            <input [(ngModel)]="loginUser.userEmail" name="email" type="email" placeholder="Nazwa Użytkownika"
                class="login-input" required>
            <label for="password">Hasło</label>
            <input [(ngModel)]="loginUser.userPassword" name="password" type="password" placeholder="Hasło"
                class="login-input" required>
        </fieldset>
        <button (click)="login()" mat-raised-button class="button">
            <strong>Zaloguj się</strong>
        </button>
        <div class="login-account">
            <p>Nie masz konta? </p>
            <a routerLink="/sign-up" class="link">Zarejestruj się</a>
        </div>
    </form>
</div>