<div class="login-container">
    <div class="middle-login-container">
        <form>
            <label for="username" class="login_information">Nazwa Użytkownika</label>
            <input [(ngModel)]="loginUser.userEmail" name="email" type="email" placeholder="Nazwa Użytkownika" class="login_input" required>

            <label for="password" class="login_information">Hasło</label>
            <input [(ngModel)]="loginUser.userPassword" name="password" type="password" placeholder="Hasło" class="login_input" required>
        </form>
        <button (click)="login()" mat-raised-button id="login_button">
            <b>Zaloguj się</b>
        </button>
        <input type="checkbox" checked="checked" id="remember_me">
        <label for="remember_me" class="remember_me">Zapamiętaj mnie</label>
        <span>Nie masz konta? </span>
        <a routerLink="/sign-up" class="link">Zarejestruj się</a>
    </div>
</div>