.pop-up-container {
    height: 200px;
}

.label {
    display: block;
    padding-top: 15px;
}

.sport-facility-input {
    height: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
 } 

.button{
    background-color: forestgreen;
    color:white;
    margin-top:15px;
}
