<div *ngIf="selectedUser">
    <div class="label">Nick:
        <input class="user-input" [(ngModel)]="selectedUser.userNick" placeholder="Nick" />
    </div>
    <div class="label">Email: <input class="user-input" [(ngModel)]="selectedUser.userEmail" placeholder="Email" />
    </div>
    <div class="label">Imię: 
        <input class="user-input" [(ngModel)]="selectedUser.userName" placeholder="Imię" />
    </div>
    <div class="label">Nazwisko: <input class="user-input" [(ngModel)]="selectedUser.userSurname"
            placeholder="Nazwisko" />
    </div>
    <div class="label">Rola:
        <input class="user-input" [(ngModel)]="selectedUser.userRole" placeholder="Rola" />
    </div>
    <button (click)="editSelectedUser(selectedUser)" mat-raised-button class="button">
        <b>Zapisz</b>
    </button>
</div>