<div id="signup">
    <div class="signup-form">
        <fieldset class="signup-fieldset">
            <label for="username">Nazwa Użytkownika</label>
            <input [(ngModel)]="user.userNick" type="text" placeholder="Nazwa Użytkownika" class="signup-input" required>

            <label for="email">Email</label>
            <input [(ngModel)]="user.userEmail" type="email" placeholder="Email" class="signup-input" required>

            <label for="password">Hasło</label>
            <input [(ngModel)]="user.userPassword" type="password" placeholder="Hasło" class="signup-input" required>
        </fieldset>
        <button (click)="createUser(user)" mat-raised-button class="button">
            <strong>Zarejestruj się</strong>
        </button>
    </div>
</div>

<!-- [(ngModel)]="user.userPassword" -->