<div class="sign-up-container">
    <div class="middle-sign-up-container">
    
    <label for="username" class="sign_up_information">Nazwa Użytkownika</label>
    <input type="text" placeholder="Nazwa Użytkownika" class="login_input" required>
    
    <label for="email" class="sign_up_information">Email</label>
    <input type="text" placeholder="Email" class="login_input" required>
    
    <label for="password" class="sign_up_information">Hasło</label>
    <input type="text" placeholder="Hasło" class="login_input" required>
    
    <label for="re_password" class="sign_up_information">Powtórz Hasło</label>
    <input type="text" placeholder="Powtórz Hasło" class="login_input" required>

    <button mat-raised-button id="login_button" routerLink="/login">
        <b>Zarejestruj się</b>
    </button>
    </div>
</div>
