<mat-toolbar class="menu">
  <div class="left-menu">
    <button mat-button routerLink="/home">Strona Główna</button>
    <button mat-button routerLink="/sports-facilities">Obiekty Sportowe</button>
    <button *ngIf="loginService.role==1" mat-button class="admin" routerLink="/users">Użytkownicy</button>
    <button *ngIf="loginService.role==1" mat-button class="admin" routerLink="/reservations">Rezerwacje</button>
  </div>
  <div class="right-menu"><button *ngIf="loginService.role; else elseBlock" mat-button
      (click)="loginService.logOut()">Wyloguj</button>
    <ng-template #elseBlock><button mat-button routerLink="/login">Zaloguj</button></ng-template>
  </div>
</mat-toolbar>